.team {
  background: #787878;
  height: 100vh;
}


.team .team-section {
  position: sticky;
  top: 3rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.team-section .section-heading {
  font-size: 5rem;
  padding: .5rem 1rem;
  margin-bottom: 3rem;
  text-align: center;
}

.team-section .team-container {
  display: flex;
  position: relative;
  gap: 0 1rem;
  padding: 0 1rem;
}